<template>
  <div :class="['base-password-input', ...styles]">
    <input
      ref="passinput"
      type="password"
      :placeholder="placeholder"
      :value="value"
      :autocomplete="autocomplete"
      v-on="inputListeners"
    >
  </div>
</template>

<script>
import { baseinputs } from '../mixins/baseinputs'

export default {
  name: 'BasePasswordInput',
  mixins: [baseinputs],
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: 'Type something ...'
    },
    /** 
     * facultative and not enabled by default
     * allows browser and forms manager to make suggestions
     * https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete
     */
    autocomplete: {
      type: String,
      required: false,
      default: null, // 'on', 'username', 'email', etc... see mdn doc.
    }
  },
  data: function () {
    return {
      showPass: false,
      inputValue: this.value,
    }
  },
  computed: {},
  methods: {
    toggleVisibility: function (){
      this.showPass = !this.showPass
      this.$refs.passinput.type = (this.showPass)?'text':'password'
    }
  },
};
</script>

<style scoped>
</style>
