<template>
  <div :class="['base-email-input', ...styles]">
    <input
      ref="inputElement"
      type="email"
      :value="value"
      :placeholder="placeholder"
      :maxlength="maxLength"
      :required="required"
      :disabled="disabled"
      autocomplete="email"
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      v-on="inputListeners"
      v-bind="$attrs"
    >
  </div>
</template>

<script>
import { baseinputs } from '../mixins/baseinputs'

export default {
  name: 'BaseEmailInput',
  mixins: [baseinputs],
  props: {
    /**
     * Text input value for email address.
     * Will be validated in the computed `input` inputListeners.
     */
    value: {
      type: String,
      required: false,
      default: null
    },
    /**
     * If no email address provided, `<input>` element will
     * show default placeholder.
     */
    placeholder: {
      type: String,
      required: false,
      default: 'Enter a valid email address...'
    },
  },
  data: function () {
    return {}
  },
  mounted: function(){}
};
</script>

<style scoped>
</style>
