<template>
  <div :class="['base-text-input', ...styles]">
    <input
      type="text"
      :name="label"
      :placeholder="placeholder"
      :value="value"
      :disabled="disabled"
      :maxlength="maxLength"
      :autocomplete="autocomplete"
      v-on="inputListeners"
    >
  </div>
</template>

<script>
import { baseinputs } from '../mixins/baseinputs'

export default {
  name: 'BaseTextInput',
  mixins: [baseinputs],
  inheritAttrs: false,
  props: {
    /** 
     * @prop {String}
     * value passed with v-model
    */
    value: {
      type: String,
      required: false,
      default: ''
    },
    /** 
     * facultative and not enabled by default
     * allows browser and forms manager to make suggestions
     * https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete
     */
    autocomplete: {
      type: String,
      required: false,
      default: null, // 'on', 'username', 'email', etc... see mdn doc.
    }
  },
  emits: ['valid'],
  data: function () {
    return {};
  },
  computed: {},
  mounted: function(){
    if (this.required){
      this.$el.querySelector('input').required = true
    }
  },
  methods: {
  },
};
</script>

<style scoped>
</style>
