<template>
  <div
    v-for="(error, errorIdx) in fieldErrors"
    :key="['field-err', label, errorIdx].join('-')"
    :class="['base-errors']"
  >
    <div 
      class="errors"
    >
      {{ error }}
    </div>
  </div>
</template>

<script>

export default {
	name: "BaseErrors",
  props: {
    /**
     * @prop {String}
     * label of field
    */
    label: {
      type: String,
      required: false,
      default: null
    },
    /**
     * @param {Object, Array, String}
     * management of errors
    */
    errors: {
      type: [Object, Array, String],
      required: false,
      default: () => {
        return null
      }
    },
  },
	data() {
		return {}
	},
	computed: {
    fieldErrors: function(){
      if (Array.isArray(this.errors)){ 
        return this.errors
      } else {
        return [this.errors]
      }
    },
  },
	methods: {}
}
</script>

<style scoped> 
</style>