<template>
  <div
    :class="[
      ...styles,
      'base-button',
      { disabled: disabled },
      { active: active },
      !styles.length && !icon ? 'label-CTA' : null
    ]"
    @click="onClick"
    @mouseenter="imgIdx = 2"
    @mouseleave="imgIdx = active ? 1 : 0"
  >
    <template v-if="!icon && label">
      <span>{{ label }}</span>
    </template>
    <template v-else>
      <img 
        class="icon"
        :src="iconFile" 
        :alt="label"
      >
    </template>
  </div>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    label: {
      type: String,
      required: false,
      default: null,
    },
    styles: {
      type: Array,
      required: false,
      default: () => {
        return []
      },
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    icon: {
      type: String,
      required: false,
      default: null,
    },
    active: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ['click'],
  data: function () {
    return {
      imgIdx: this.active ? 1 : 0,
    }
  },
  computed: {
    iconFile: function () {
      return require(`../assets/img/svgicons/${this.icon}.svg`)
    }
  },
  methods: {
    onClick: function () {
      if (!this.disabled) {
        this.$emit('click')
      }
    },
  },
}
</script>

<style scoped>
</style>
