
<!-- 
  BaseInputContainer is the parent handler of the other base components 
  It passes props to the children, the children emit a value which transmits to it above
  It manages the display common to the components
-->

<template>
  <div class="base-input-container">
    <!-- ERROR TEMPLATE -->
    <BaseErrors
      v-if="errors"
      :label="label"
      :errors="errors"
    />
    <div 
      v-if="validationError"
      class="error"
    >
      {{ validationError }}
    </div>
    <label :for="label">{{ label }}:</label>
    <!-- COMPONENT TEMPLATE -->
    <component
      :is="fieldComponent"
      ref="inputElement"
      v-bind="$props"
      v-on="$attrs"
      v-model:value="inputValue"
      :external-props="setExternalProps"
      @invalid="onInvalid"
      @valid="onValid"
      @keypress.enter="updateField"
    />
    <template v-if="required">
      <span class="required">*</span>
    </template>
  </div>
</template>

<script>
 
/*
  v-bind="$props" pass all props to child 
  v-on: pass all events to child
*/
import { baseinputs } from '../mixins/baseinputs'

export default {
	name: "BaseInputContainer",
  mixins: [baseinputs],
  /*
     Props are inside mixin 
  */
  props: {
    /* 
      @param {string} event
      By default, v-model on a component uses modelValue as the prop
    */
    modelValue: {
      type: [String, Boolean, Object, Array, Number],
      required: false,
      default: null
    },
  },
  /* 
    Déclare your emit here
    vue 3 doc : https://vuejs.org/guide/components/events.html#usage-with-v-model
  */
  emits: ['update:modelValue', 'cancel'],
	data() {
		return {
      isValid: false,
      isInvalid: false,
      validationError: null,
    }
	},
	computed: {
    inputValue: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    },
    /**
     * fieldComponent determined which components to use
    */
    fieldComponent: function () {
      const fieldMap = {
        email: 'BaseEmailInput',
        password: 'BasePasswordInput',
        string: 'BaseTextInput',
        toggle: 'BaseToggle',
        select: 'BaseSelect',
      }
      return fieldMap[this.fieldType]
    },
    /**
     * $attrs return externalProps (props not declared) and events
     * So this function split ExternalProps and events
     * @return {Object}
     */
    setExternalProps: function() {
      let externalProps = {}
      // events are starting always by 'on'
      let regexOnEvent = /^on/g;
      // Browses object and do a loop to remove event from ExternalProps
      // replace dash (hyphen) by uppercase
      Object.entries(this.$attrs).map(([key, value]) => {
        // finds all '-' followed by the first lowercase and replace just by UpperCase
        let newKey = key.replace(/-[a-z]/g, (str) => {
          return str.split("-")[1].toUpperCase()
        })
        if(!key.match(regexOnEvent)) {
          externalProps = {...externalProps, ...{[newKey]: value}}
        }
      })
      return externalProps
    }
  },
	methods: {
    /**
     * @param {string} event
     * Emit modelValue to parents
    */
    updateField: function(event) {
      console.log("JE PASSE");
      if (event && event.target) {
        console.log("LA AUSSI");
        this.$emit('update:modelValue', event.target.value);
      } else {
        this.$emit('update:modelValue', event);
      }
      
      // this.initField()
    },
    /**
     *  Setter to invalid field
     */
    onInvalid: function (validationMessage){
      console.log("DDD", validationMessage);
      this.isInvalid = true
      this.isValid = false
      this.validationError = validationMessage
    },
    /**
     * Setter to valid field
     */
    onValid: function (){
      this.isValid = true
      this.isInvalid = false
      this.validationError = null
    },
    /**
     * emit cancel to parents
    */
    cancelField: function() {
      this.$emit('cancel');
      // this.initField();
    },
  }
}
</script>

<style scoped> 

</style>