<!--
  How to use ? 
  - field-type need to be 'select'
  - pass the externalProps select-list (object)
  <BaseInputContainer
    v-model="listId"
    :select-list="selectList"
    field-type="select"
    required
  />
  In selectList binds attributes like the example:
  selectList: {
    "Select a list": 0,
    "test": 1,
    "test2": 2
  },
-->

<template>
  <div :class="['base-select', ...styles]">
    <select
      @change="onSelect"
    >
      <option
        v-for="(option, key) in externalProps.selectList"
        :key="'option'+ option"
      >
        {{ key }}
      </option>
    </select>
  </div>
</template>

<script>
import { baseinputs } from '../mixins/baseinputs'

export default {
  name: 'BaseSelect',
  mixins: [baseinputs],
  inheritAttrs: false,
  props: {
    value: {
      type: Number,
      required: false,
      default: null
    },
  },
  emits: ['update:value'],
  data: function () {
    return {};
  },
  mounted: function(){
  },
  methods: {
    /**
     * Emit the attribute selected inside list
     */
    onSelect: function(event) {
      // Find value with the key
      const selectedValue = this.externalProps.selectList[event.target.value]
      // Index 0 is always the placeholder of the list
      if(selectedValue !== 0) {
        this.$emit('update:value', selectedValue)
      }
    },
  },
};
</script>

<style scoped>
</style>
